@import './navbar', './products', './cart', './detailItem';

*{
    user-select: none;
}

.itemListActive {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    transition: ease-in-out .1s;
}

.submenu__active {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    transition: ease-in-out .1s;
    width: 100%;
    text-transform: uppercase;
}

.containerInfo{
    margin: 12vh 1em;
}

.cartShown{
    display: block;
}

.cartHidden{
    display: none;
}

.centered{
    text-align: center;
}

.first__header{
    background: #3f51b5;
    color: white;
    margin-left: 17%;
    margin-right: 17%;
    padding: 1rem;
    border-radius: 7px;
}

.button_cat{
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
    background: #673ab7;
    color: white;
    padding: 1rem;
    border-radius: 50px;
}